.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.titleText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #303031;
  line-height: 28px;
  padding-left: 0.5rem;
}
.assetInfo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: rgba(48, 48, 49, 0.7);
  padding-right: 0.5rem;
}

.right {
  margin-left: auto;
}

.intoText {
  font-family: 'Helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #303031;
}

.networkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.network {
  font-family: 'Helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #303031;
  margin-left: 0;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.network svg {
  width: 28px;
  height: 28px;
  margin-top: 0;
  fill: #757575;
}

.tooltip {
  width: 22px;
  height: 22px;
  fill: #757575;
  margin-left: 0;
}

.infoIcon {
  width: 22px;
  height: 22px;
  fill: #757575;
}

.error {
  fill: var(--brand-alert-red);
  color: var(--brand-alert-red);
}
