.networkWrap {
  display: block;
  margin-top: -1rem;
}

.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1rem;
}

.grid > div {
  /* overflow: hidden; */
  margin-top: var(--spacer);
}

.content {
  composes: box from '@shared/atoms/Box.module.css';
  padding-top: 0;
  margin-top: var(--spacer);
  position: relative;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid rgba(48, 48, 49, 0.1);
  border-radius: 20px;
  /* padding: 25px; */
}

.metaMenu {
  position: relative;
  border: 1px solid rgba(48, 48, 49, 0.1);
  border-radius: 10px;
  /* width: 714px; */
  height: 60px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .actions {
    margin-top: var(--spacer);
  }
}
@media (min-width: 1500px) {
  .grid {
    grid-template-columns: 1.5fr 1fr;
    width: 1420px;
  }

  .actions {
    margin-top: var(--spacer);
  }
}

.ownerActions {
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: calc(var(--spacer) * 1.5);
  padding: calc(var(--spacer) / 3) var(--spacer);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.servicesGrid {
  display: grid;
  gap: calc(var(--spacer) * 0.5);
}

.accessTaC {
  display: flex;
}

.serviceDisplay {
  margin-top: 3rem;
}

.grid h4 {
  font-weight: 700;
  font-size: 22px;
  color: #303031;
}
