.metaFull {
  margin-top: var(--spacer);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
.metaFull a {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.metaFull code {
  /* magic number cause the code font has a bigger visual weight */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(48, 48, 49, 0.7);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0;
}

/* debug output */
.metaFull + div {
  margin-top: 10px;
}
.dataAuther {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(48, 48, 49, 0.7);
  text-transform: uppercase;
}

.licenseRow {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}
.licenseRow a {
  max-width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.licenceTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #303031;
}

@media (min-width: 1024px) {
  .metaFull {
    grid-template-columns: 0.6fr 0.6fr 1.6fr;
  }

  /* Make the 4th item (if present) span full width */
  .metaFull > *:nth-child(4):last-child {
    grid-column: 1 / -1;
  }
}
