.service {
  border-radius: var(--box-template-border-radius);
  border: var(--box-template-border-size) solid var(--box-template-border-color);
  cursor: pointer;
  padding: calc(var(--spacer) * 0.5) var(--spacer);
  margin: var(--spacer) 0;
}

.service:hover {
  box-shadow: var(--box-template-box-shadow);
}

.title {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  margin-bottom: calc(var(--spacer) / 4);
  color: var(--font-color-heading);
  text-transform: uppercase;
}
