.nftImage {
  position: relative;
  margin: 0;
  border-right: 1px solid var(--border-color);
  width: calc(var(--spacer) * 2);
  height: calc(var(--spacer) * 2);
  display: flex;
  align-items: center;
}

.nftImage > svg:first-of-type {
  width: 100%;
  height: 100%;
}

.nftImage img {
  height: auto;
}

.nftImage > svg:first-of-type {
  transform: scale(0.7);
}

.nftImage .tooltip {
  position: absolute;
  padding: 0;
  left: 0;
  bottom: 0;
}

.nftImage .tooltip svg {
  fill: var(--nft-refresh-icon-fill);
}

.placeholder {
  border-radius: 10px 0 0 10px;
  padding: 6px 25px;
  margin-left: 0px;
  width: 61px;
  height: 100%;
  box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    135deg,
    #1f2c50 0%,
    rgba(10, 75, 112, 0.8) 27.47%,
    rgba(10, 75, 112, 0.7) 43.49%,
    rgba(10, 75, 112, 0.8) 55.43%,
    #1e2e52 100%
  );
}
