.container > label {
  text-align: center;
}

.parametersContainer {
  composes: selection from '@shared/FormInput/InputElement/AssetSelection/index.module.css';

  padding: calc(var(--spacer) / 3) calc(var(--spacer) / 2);
  max-height: 50vh;

  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);

  /* smooth overflow scrolling for pre-iOS 13 */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.parametersContainerDisabled {
  opacity: 0.5;
}

.parameter > div {
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.parameter {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-bottom: calc(var(--spacer) / 2);
  border-bottom: 1px solid var(--border-color);
}

.parameter:last-child {
  border: none;
  padding-bottom: 0;
}

.parameter > div > div {
  position: absolute;
  right: 1rem;
}
