.containerOuter {
  padding: 60px;
}

.container {
  padding: var(--sp-10);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.error {
  color: red;
  margin: 1rem 0;
}
