.assetListBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  margin-bottom: var(--spacer);
}

.assetBox {
  composes: box from '@shared/atoms/Box.module.css';
  padding: var(--spacer);
  background: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.assetHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assetTitle {
  font-size: var(--font-size-base);
  font-weight: bold;
  margin: 0;
  color: var(--font-color-text);
}

.assetLink svg {
  margin-left: 0.25rem;
  fill: var(--color-highlight);
  width: 0.75em;
  height: 0.75em;
}

.assetMetaBlock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  word-break: break-all;
}

.assetLabel {
  font-weight: 600;
  color: var(--font-color-text);
  min-width: 6rem;
}

.assetCode {
  font-family: monospace;
  font-size: 0.875rem;
  color: var(--color-secondary);
}
