.loaderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: block;
  flex: 0 0 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: var(--loader-border-size) solid var(--loader-border-color);
  border-top-color: var(--loader-top-border-color);
  animation: loader 0.6s linear infinite;
}

.message {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-small);
  color: var(--loader-message-color);
  display: block;
  margin-left: calc(var(--spacer) / 4);
}

.loader.white {
  border-color: rgba(255 255 255 / 0.3);
  border-top-color: var(--brand-white);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
