.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 60rem) {
  .topSection {
    flex-direction: row;
    align-items: center;
  }
}

.body {
  width: fit-content;
  max-width: 30rem;
  margin: 0 auto;
}

.body p {
  margin-bottom: 0;
  color: var(--brand-grey);
}

.body div {
  border-color: var(--brand-grey);
}

.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacer) / 2);
  padding: var(--spacer);
  background: var(--background-highlight);
  border-radius: var(--border-radius);
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.learnMore span {
  color: var(--color-secondary);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

.image {
  object-fit: contain;
  width: 100%;
  max-height: 25rem;
}

.footer {
  max-width: var(--break-point--small);
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 0;
}
