.nft {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: none;
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: var(--spacer);
  align-items: center;
}

.token {
  border: var(--input-border-size) solid var(--border-color);
  border-left: 5px solid #fdd655;
  border-radius: 0;
  padding: 10px 17px;
  background: var(--background-detail-box);
  width: fit-content;
}

.image {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: var(--border-radius);
  padding: 15px 25px;
  box-shadow: var(--publish-shadow-lg);
  background: #64ace0;
  background: linear-gradient(
    135deg,
    #1f2c50 0%,
    rgba(10, 75, 112, 0.8) 27.47%,
    rgba(10, 75, 112, 0.7) 43.49%,
    rgba(10, 75, 112, 0.8) 55.43%,
    #1e2e52 100%
  );
  border: none;
  position: relative;
  margin: 0;
}

.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: calc(var(--spacer) / 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actions svg {
  margin: 0;
  fill: var(--nft-refresh-icon-fill);
}

.refresh svg {
  transform: scale(0.9);
  transform-origin: center;
}

@media (min-width: 40rem) {
  .nft {
    grid-template-columns: 1fr 11fr;
  }
}
