#NEXT_PUBLIC_INFURA_PROJECT_ID="xxx"
#NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID="xxx"
#NEXT_PUBLIC_MARKET_FEE_ADDRESS="0xxx"
#NEXT_PUBLIC_PUBLISHER_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_PUBLISHER_MARKET_FIXED_SWAP_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_FIXED_SWAP_FEE="1"
#NEXT_PUBLIC_NODE_URI="optional if you don't want to use infura"

#
### ADVANCED SETTINGS
#

# Toggle pricing options presented during price creation
#NEXT_PUBLIC_ALLOW_FIXED_PRICING="true"
#NEXT_PUBLIC_ALLOW_FREE_PRICING="true"

# Privacy Preference Center
#NEXT_PUBLIC_PRIVACY_PREFERENCE_CENTER="true"

# Development Preference Center
#NEXT_PUBLIC_NFT_FACTORY_ADDRESS='0xxx'
#NEXT_PUBLIC_OPF_COMMUNITY_FEE_COLECTOR='0xxx'
#NEXT_PUBLIC_FIXED_RATE_EXCHANGE_ADDRESS='0xxx'
#NEXT_PUBLIC_DISPENSER_ADDRESS='0xxx'
#NEXT_PUBLIC_MARKET_DEVELOPMENT='true'
#NEXT_PUBLIC_PROVIDER_URL="http://xxx:xxx"


#local

# NEXT_PUBLIC_SSI_ENABLED=
# NEXT_PUBLIC_OPA_SERVER_URL=
# NEXT_PUBLIC_SSI_POLICY_SERVER=
# NEXT_PUBLIC_SSI_WALLET_API=

# NEXT_PUBLIC_ENCRYPT_ASSET=true
# NEXT_PUBLIC_IPFS_UNPIN_FILES=true
# NEXT_PUBLIC_IPFS_GATEWAY=
# NEXT_PUBLIC_IPFS_API_KEY=
# NEXT_PUBLIC_IPFS_SECRET_API_KEY=


# NEXT_PUBLIC_NFT_FACTORY_ADDRESS=
# NEXT_PUBLIC_OPF_COMMUNITY_FEE_COLECTOR=
# NEXT_PUBLIC_FIXED_RATE_EXCHANGE_ADDRESS=
# NEXT_PUBLIC_DISPENSER_ADDRESS=
# NEXT_PUBLIC_ROUTER_FACTORY_ADDRESS=

# NEXT_PUBLIC_NODE_URI_INDEXED='["", ""]'
# NEXT_PUBLIC_CREDENTIAL_VALIDITY_DURATION=30000
# NEXT_PUBLIC_CONSUME_MARKET_FEE=0.1
# NEXT_PUBLIC_NODE_URI_MAP={"1":"https://mainnet...","10":"https://optimism..."}
