.title,
.compactTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0;
  color: var(--font-color-title);
}

.title > span:first-child,
.compactTitle > span:first-child {
  margin-right: calc(var(--spacer) / 4);
}

.compactTitle {
  font-size: var(--font-size-h5);
}

.badge {
  margin: 0;
  background-color: var(--menu-border-color);
  color: var(--menu-network-badge-font-color);
  font-size: var(--font-size-base);
  vertical-align: middle;
}

.toggle {
  margin-left: calc(var(--spacer) / 4);
  transform: none !important;
}

.toggle svg {
  display: inline-block;
  width: var(--font-size-base);
  height: var(--font-size-base);
  fill: var(--font-color-title);
  vertical-align: middle;
  transition: 0.2s ease-out;
}

.open .toggle svg {
  transform: rotate(180deg);
}

.actions .content {
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.3s;
}

.open .content {
  max-height: 35rem;
  visibility: visible;
  overflow-y: scroll;
  transition: 0.3s max-height;
}

.open .compactContent {
  max-height: 15rem;
}
