.container {
  padding: 2rem;
}

.environmentList {
  margin-top: 1rem;
}

.environmentItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.environmentItem:hover {
  background: var(--color-background-highlight);
}

.environmentItem input[type='radio'] {
  margin-right: 1rem;
}

.environmentItem label {
  cursor: pointer;
  font-weight: 500;
}
