.langSelect {
  background: var(--background-body);
  border: var(--publish-input-border-size) solid
    var(--publish-input-border-color);
  border-radius: var(--publish-input-border-radius);
  padding: var(--publish-form-container-padding);
  margin: var(--spacer) auto;
  text-align: center;
}

.langLabel {
  font-size: var(--font-size-base);
  color: var(--font-color-heading);
  font-weight: var(--font-weight-bold);
}
