.addedAddressesContainer {
  display: flex;
  justify-content: space-between;
  gap: 0 calc(var(--spacer) / 4);
  flex-grow: 1;
  margin-top: calc(var(--spacer) / 2);
}

.addedAddressesContainer > div {
  width: 100%;
}
