.tabListContainer {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-color);
  max-width: 100%;
}

.tabList {
  text-align: center;
  padding: calc(var(--spacer) / 2);
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  display: inline-block;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 2);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-secondary);
  background-color: var(--background-body);
  border: 1px solid var(--border-color);
  margin-right: -1px;
}

.tab,
.tab label {
  cursor: pointer;
}

.tab:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-left: auto;
}

.tab:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-right: auto;
}

.tab[aria-selected='true'] {
  background-color: var(--font-color-heading);
  color: var(--background-body);
  border-color: var(--font-color-heading);
}

.tab[aria-disabled='true'] {
  cursor: not-allowed;
}

.tab > div {
  margin: 0;
}

.tabContent {
  padding: calc(var(--spacer) / 2);
}

@media (min-width: 40rem) {
  .tabContent {
    padding: var(--spacer);
  }
}

@media (min-width: 60rem) {
  .tab {
    padding: calc(var(--spacer) / 8) var(--spacer);
  }
}

.radio {
  position: relative;
  padding: 0;
  width: 16px;
  height: 16px;
  min-height: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #fdd655;
  background: white;
  border-radius: 50%;
}

.publishTabListWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.publishTabListContainer {
  width: fit-content;
  margin-left: 0;
  margin-right: 0;
  border-bottom-color: var(--publish-border);
}

.publishTab {
  border: 0;
}

.publishTab[aria-selected='true'] {
  border-radius: var(--publish-border-radius);
  background-color: var(--clr-navy);
  color: var(--brand-white);
  border-color: var(--clr-navy);
}

.publishTab[aria-selected='true'] > div > div > label {
  color: var(--brand-white);
}

.publishTabList {
  padding: var(--sp-1) 0 var(--sp-1) 0;
}

.publishTabPanel {
  width: 100%;
  max-width: 490px;
  padding: var(--sp-1) 0 var(--sp-1) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-1);
  margin: 0 auto;
}

.publishTabContent {
  padding: 0;
}

.editTabPanel {
  max-width: none !important;
  width: 100%;
}

.editTabPanel > div {
  max-width: none !important;
  width: 100%;
}

@media (min-width: 40rem) {
  .publishTabContent {
    padding: var(--sp-4) 0 var(--sp-4) 0;
  }
}
