.header {
  margin-bottom: var(--spacer);
  max-width: 50rem;
}

.headerExtended {
  margin-bottom: 100px;
  max-width: none;
  width: 100%;
  margin-top: 60px;
}

.headerExtended .title {
  font-family: 'Helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #303031;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: var(--publish-font-size-xl);
  margin-top: 0;
  margin-bottom: 0;
  display: inline-flex;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.homeTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeTitleContainer > svg {
  width: var(--home-brand-logo-size-width);
  height: var(--home-brand-logo-size-height);
}

.homeTitleContainer h1 {
  color: var(--color-primary);
  margin-bottom: 0;
}

.homeTitleContainer .subtitle p {
  margin: calc(var(--spacer) / 4) 0;
  font-size: var(--font-size-h3);
}

.logoContainer {
  position: relative;
  margin: calc(var(--spacer) / 2) 0;
}

.logoContainerTitle {
  position: absolute;
  width: max-content;
  top: 1.8rem;
  left: -1.7rem;
  font-size: var(--font-size-h5);
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description {
  font-size: var(--publish-font-size-lg);
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}

.headerExtended .description {
  font-family: 'Helvetica', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--publish-text-secondary);
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  align-self: stretch;
}

.center,
.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) / 2);
  max-width: 30rem;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.3rem;
  }
  .description {
    font-size: 1.3rem;
  }
}
