.container {
  padding: 0;
}

.titleContainer {
  margin-bottom: var(--sp-8);
}

.contentContainer {
  margin: 0 auto;
  max-width: 716px;
}

.container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: var(--sp-8);
}

.pricingBreakdown {
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: var(--sp-4);
}

.pricingRow {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 38px;
}

.itemInfo {
  flex: 1;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.itemName {
  font-weight: 500;
  color: var(--publish-text);
}

.serviceName {
  font-weight: 400;
  color: var(--publish-text-secondary);
  margin-left: 1rem;
}

.price {
  font-size: 16px;
  font-weight: 600;
  line-height: 117%;
}

.priceNumber {
  color: var(--publish-text);
}

.priceSymbol {
  color: var(--clr-teal);
}

.duration {
  font-size: 12px;
  color: var(--clr-teal);
}

.totalSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--sp-2);

  padding: var(--sp-4) 0;
  margin-top: 1rem;
  border-top: 2px solid #f0f0f0;
  font-size: 14px;
}

.totalLabel {
  font-weight: 700;
  color: var(--publish-text);
}

.totalValue {
  font-weight: 700;
}

.totalValueNumber {
  color: var(--publish-text);
}

.totalValueSymbol {
  color: var(--clr-teal);
}

.termsSection {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}
