.fees {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
  text-align: start;
}

.fees > div {
  margin-bottom: 0;
  justify-self: start;
}

.fees label {
  white-space: nowrap;
}

.fees input {
  max-width: 90%;
}
