.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-8);
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-4);
}

.title {
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

.tokens {
  display: grid;
  border: 1px solid var(--border-color);
  background: var(--background-highlight);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 40rem) {
  .tokens {
    grid-template-columns: 1fr 1fr;
  }
}

.subtitle {
  display: inline-block;
  color: var(--color-secondary);
  margin-left: calc(var(--spacer) / 4);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-small);
}

.alertArea {
  padding: 0 calc(var(--spacer) / 2);
}
