.form {
  position: relative;
  width: 100%;
}

.form *,
.form label {
  margin-bottom: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacer) / 2);
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.fixed label {
  display: none;
}

.free {
  text-align: left;
  font-size: var(--font-size-base);
}

.free [class*='FormInput_field'] {
  margin: 0;
}
