.form {
  padding: 0;
  border: none;
}

.form > div > label,
.form [class*='ButtonBuy-module--actions'] {
  text-align: center;
}

.form > div > label {
  margin-bottom: calc(var(--spacer) / 2);
  margin-left: -1rem;
}

.form > div:first-of-type {
  margin-bottom: calc(var(--spacer) * var(--line-height) / 2);
  padding-bottom: calc(var(--spacer) * var(--line-height) / 2);
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.form > div:last-of-type {
  margin-bottom: 0;
}

.form [class*='AssetSelection-module--selection'] {
  margin-left: -2rem;
  margin-right: -2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
}

.warning {
  margin-bottom: var(--spacer);
}
