.meta {
  margin-left: calc(var(--spacer) * -0.75);
  margin-right: calc(var(--spacer) * -0.75);
  margin-bottom: calc(var(--spacer) / 1.5);
  font-size: var(--font-size-small);
}

.publisherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-primary);
}

.badgeContainer {
  padding: calc(var(--spacer) / 2);
}

@media (min-width: 40rem) {
  .meta {
    margin-left: calc(var(--spacer) * -1);
    margin-right: calc(var(--spacer) * -1);
  }
  .publisherInfo {
    flex-direction: row;
  }
}

.asset {
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(var(--spacer) * 2);
  /* border-bottom: 1px solid var(--border-color); */
}
