.wrapper {
  padding: calc(var(--spacer) / 2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--publish-text-secondary);
}

.assetType {
  display: inline-block;
  border-right: 1px solid var(--border-color);
  padding-right: calc(var(--spacer) / 3.5);
  margin-right: calc(var(--spacer) / 4);
  margin-left: -15px;
}

.byline {
  display: inline-block;
  font-size: var(--font-size-small);
  text-transform: none;
}

.updated {
  font-size: var(--font-size-mini);
}
