.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.datatoken {
  white-space: pre;
  margin-right: calc(var(--spacer) / 3);
}

.owner {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: var(--clr-slate-50);
  display: block;
  margin-left: var(--spacer);
}

.addWrap {
  padding-left: calc(var(--spacer) / 5);
  border-left: 1px solid var(--border-color);
  display: inline-block;
}

.add {
  font-size: var(--font-size-mini);
}

.add svg path {
  fill: var(--ocean-violet);
}
