.searchWrap {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) * var(--line-height));
}

.section,
.intro {
  margin-top: calc(var(--spacer) * 2);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.section [class*='button'] {
  margin-top: var(--spacer);
}

.portals {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacer) / 2);
}

@media screen and (min-width: 25rem) {
  .portals {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--spacer);
    justify-items: center;
  }
}
