.radioWrap {
  composes: radioWrap from '@shared/FormInput/InputElement/Radio/index.module.css';
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 3);
  border-bottom: 1px solid var(--border-color);
}

.radioWrap:last-child {
  border-bottom: none;
}

/* Your custom input styling */
.input {
  composes: checkbox from '@shared/FormInput/InputElement/Radio/index.module.css';
  vertical-align: baseline;
  margin-right: calc(var(--spacer) / 3);
  margin-top: 0;
}

/* Override the checked state */
.input:checked {
  /* background-color: yellow !important; */
  /* You might also need to override other properties */
  border-color: rgb(13, 75, 120) !important;
  border-radius: 2px;
  background: rgb(13, 75, 120) !important;
  box-shadow: 0 0 0 1px rgb(13, 75, 120) !important;
}

.radioLabel {
  composes: radioLabel from '@shared/FormInput/InputElement/Radio/index.module.css';
  font-weight: var(--font-weight-base);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input:checked + span {
  color: var(--font-color-text);
  font-weight: var(--font-weight-bold);
}
