.container {
  --expanded-logo-container-height: 13rem;
  --collapsed-logo-container-height: 4rem;
  --expanded-overlay-height: 15rem;
  --collapsed-overlay-height: 6rem;

  composes: box from '@shared/atoms/Box.module.css';

  position: relative;
  height: 24rem;
  padding: calc(var(--spacer) / 1.5);
}

.logoContainer {
  width: 100%;
  height: var(--expanded-logo-container-height);
  margin: 0 auto;
  transition: all 0.3s;
}

.logo {
  object-fit: contain;
  float: center;
  height: 100%;
  width: min-content;
  transition: all 0.3s;
}

.overlayContainer {
  position: relative;
  height: var(--collapsed-overlay-height);
  text-align: center;
  overflow-y: hidden;
  transition: transform 0.3s;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--expanded-overlay-height);
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 0.3s;
  transform: translate3d(0, 5rem, 0);
}

.title {
  display: block;
  font-size: var(--font-size-h4);
  margin: calc(var(--spacer) / 4) 0;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 0.5s 0.1s;
}

.description {
  margin: 0;
}

.container:hover .overlay {
  transform: translate3d(0, 0, 0);
}

.container:hover .title {
  transform: translate3d(0, 0, 0);
  margin-top: calc(var(--spacer) / 2);
}

.container:hover .overlayContainer {
  height: var(--expanded-overlay-height);
  transition: all 0.3s;
}

.container:hover .details {
  opacity: 1;
}

.container:hover .logoContainer {
  height: var(--collapsed-logo-container-height);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.header {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicatorContainer {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) / 8);
  color: var(--brand-alert-green);
}

.indicator {
  width: 14px;
  height: 14px;
  background-color: var(--brand-grey-lighter);
  border: 2px solid var(--brand-white);
  border-radius: 50%;
  background-color: var(--brand-alert-green);
}

.indicatorPulse {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* Animation */
  opacity: 0.4;
  box-shadow: 0 0 0 0 var(--brand-alert-green);
  transform: scale(1);
  animation: pulse 4s infinite;
}

/* on touch devices show expanded details by default */
@media (pointer: none), (pointer: coarse) {
  .overlay {
    transform: translate3d(0, 0, 0);
  }
  .title {
    transform: translate3d(0, 0, 0);
    margin-top: calc(var(--spacer) / 2);
  }
  .overlayContainer {
    height: var(--expanded-overlay-height);
    transition: all 0.3s;
  }
  .details {
    opacity: 1;
  }
  .logoContainer {
    height: var(--collapsed-logo-container-height);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.4;
    box-shadow: 0 0 0 0 var(--brand-alert-green);
  }

  10% {
    transform: scale(1);
    opacity: 0.2;
    box-shadow: 0 0 0 5px var(--brand-alert-green);
  }

  15% {
    transform: scale(1.1);
    opacity: 0.1;
    box-shadow: 0 0 0 5px var(--brand-alert-green);
  }

  30%,
  100% {
    transform: scale(0.95);
    opacity: 0;
    box-shadow: 0 0 0 0 var(--brand-alert-green);
  }
}
