.container {
  composes: container from '../../../components/Search/index.module.css';
}

.column {
  composes: column from '../../../components/Search/index.module.css';
}

.results {
  composes: results from '../../../components/Search/index.module.css';
}
