.field {
  margin-bottom: calc(var(--spacer) * var(--line-height));
  position: relative;
}

.field[data-is-submitting] {
  pointer-events: none;
  opacity: 0.4;
}

.field .field {
  margin-bottom: calc(var(--spacer) / 2);
}

.required {
  font-size: var(--font-size-base);
  color: var(--input-error-text-color);
  display: inline-block;
  margin-left: 0.1rem;
}

.error {
  display: block;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 10px;
  color: var(--input-error-text-color);
  margin-top: var(--input-error-spacing);
  line-height: 1.2;
}

.hasError label {
  color: var(--input-error-text-color);
}

body .hasError input,
body .hasError input:focus,
body .hasError select,
body .hasError textarea,
body .hasError [class*='prefix'],
body .hasError [class*='postfix'] {
  border-color: var(--input-error-border-color) !important;
  box-shadow: none !important;
}
