.label {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-label);
  color: var(--font-color-label);
  line-height: 1.2;
  display: block;
  margin-bottom: calc(var(--spacer) / 4);
}

.noMargin {
  margin-bottom: 0;
}
