.container {
  position: relative;
  height: 50rem;
  overflow: hidden;
}

.step {
  width: 100%;
  top: 50%;
  position: absolute;
}

@media screen and (min-width: 60rem) {
  .container {
    height: 40rem;
  }
}
