.actions {
  width: 100%;
}

.actionsCenter {
  margin: auto;
  display: block;
}

.help {
  font-size: var(--font-size-mini);
  margin-top: calc(var(--spacer) / 3);
}

.help:not(:empty) {
  margin-top: calc(var(--spacer) / 2);
}
