.panelColumn {
  display: flex;
  flex-direction: column;
}

.panelRow {
  display: flex;
  flex-direction: row;
}

.widthAuto {
  width: auto;
}

.widthFitContent {
  width: fit-content;
}

.marginRight2 {
  margin-right: 2em;
}

.ssiPanel {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 137%;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}
@media screen and (max-width: 480px) {
  .ssiPanel {
    padding: 0.1em 0.2em;
    font-size: 14px;
  }

  .marginRight2 {
    margin-right: 0em;
  }
  .icon {
    width: 12px;
    height: 12px;
  }
  .text {
    max-width: 40px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .ssiPanel {
    padding: 0.4em 0.8em;
  }
  .text {
    max-width: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .text {
    font-size: 16px;
  }
}

.connected {
  color: #cbdce6;
  background-color: transparent;
}

.connected:hover {
  transform: scale(1.05);
}

.connected:hover .icon {
  transform: scale(1.2);
}

.disconnected {
  background-color: transparent;
}

.disconnected:hover {
  transform: scale(1.05);
}

.disconnected:hover .icon {
  transform: scale(1.2);
}

.marginBottom7px {
  margin-bottom: 7.5px;
}

.marginBottom1 {
  margin-bottom: 1em;
}

.marginBottom2 {
  margin-bottom: 2em;
}

.marginBottom3 {
  margin-bottom: 3em;
}

.padding1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.width100p {
  width: 100%;
}

.dialogBorder {
  border: 1px solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: 0;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  .dialogBorder {
    padding: 1em 0.5em;
  }
}

.closeButton {
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  font-size: var(--font-size-small);
}

.resetButton {
  padding: calc(var(--spacer) / 3) var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  border-radius: var(--button-border-radius);
}

.inputField {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--input-font-color);
  border: var(--input-border-size) solid var(--input-border-color);
  box-shadow: none;
  width: 100%;
  background: var(--background-content);
  padding: calc(var(--spacer) / 4);
  border-radius: var(--input-border-radius);
  height: 38px;
}

@media screen and (max-width: 480px) {
  .inputField {
    height: 35px;
    font-size: var(--font-size-small);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (height: 893px) {
  .ssiPanel {
    padding: 0.3em 0.3em;
    font-size: 0.85em;
    display: flex;
    align-items: center;
  }

  .panelRow {
    gap: 0.5em;
    align-items: center;
  }

  .marginRight2 {
    margin-right: 0.8em;
  }

  .dialogBorder {
    padding: 0.8em;
  }

  .closeButton {
    padding: calc(var(--spacer) / 6) calc(var(--spacer) / 3);
  }

  .inputField {
    height: 36px;
    padding: calc(var(--spacer) / 5);
  }

  .panelRow > * {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.list {
  margin: 1em 0em 0em 2em;
}

.listItem {
  display: list-item;
}
