/* Updated to remove all boxes while keeping functionality */
.button {
  font-family: var(--font-family-base);
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  color: var(--menu-font-color);
}

.button:hover,
.button:focus {
  transform: none;
  outline: 0;
  /* text-decoration: underline; */
}

.button.initial {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 137%;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.button.initial span {
  display: none;
}

.address {
  font-family: var(--font-family);
  display: none;
  text-transform: none;
  padding-right: calc(var(--spacer) / 3);
  padding-left: calc(var(--spacer) / 8);
  color: #fff;
}

.button svg {
  width: 1em;
  height: 1em;
  fill: var(--menu-icon-color-fill);
  display: inline-block;
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 3);
  transition: transform 0.2s ease-out;
}

[aria-expanded='true'] .button svg {
  transform: rotate(180deg);
}

.status {
  margin-left: calc(var(--spacer) / 4);
  position: relative;
  top: 1px;
}

.caret,
svg.caret {
  display: none;
}

@media screen and (min-width: 15rem) and (max-width: 47rem) {
  .button.initial span {
    display: inline;
  }
  .caret,
  svg.caret {
    display: inline-block;
    fill: var(--menu-icon-fill-color);
  }
}
@media screen and (min-width: 47rem) {
  .button.initial span {
    display: inline;
  }
  /* ... */
}

@media screen and (min-width: 481px) and (max-width: 1150px) {
  .button {
    font-size: 16px;
  }
  .button.initial {
    font-size: 16px;
  }
}

@media screen and (min-width: 150px) and (max-width: 480px) {
  .button.initial {
    font-size: 14px;
    /* max-width: 50%; */
  }
  .button {
    font-size: 14px;
  }
  .button.initial::after {
    content: 'Connect...';
  }

  .button.initial span {
    display: none;
  }
}

@media screen and (min-width: 47rem) {
  .address {
    display: inline-block;
  }
  .blockies {
    margin-right: calc(var(--spacer) / 6);
  }
}
