.details {
  --sub-section-spacing: calc(var(--spacer) / 2);

  padding: calc(var(--spacer) / 4);
  padding-right: var(--sub-section-spacing);
  min-width: 17rem;
}

@media (min-width: 40rem) {
  .details {
    padding: var(--sub-section-spacing);
    min-width: 20rem;
  }
}

.details > section[class*='feedback'] {
  margin-top: var(--sub-section-spacing);
}

.profileLink,
.bookmarksLink {
  display: flex;
  align-items: center;
}

.profileLink img,
.bookmarksLink svg {
  margin: 0;
  margin-right: calc(var(--spacer) / 8);
}

.bookmarksLink svg {
  width: var(--font-size-large);
  height: var(--font-size-large);
  fill: var(--bookmark-icon-selected-fill-color);
}

.profileButton,
.bookmarksButton {
  composes: link from '../../../components/Header/Menu.module.css';
}

.walletInfo {
  margin-top: var(--sub-section-spacing);
  margin-bottom: calc(var(--spacer) / 3);
  padding-top: var(--sub-section-spacing);
  border-top: var(--menu-mobile-navigation-border-size) solid
    var(--menu-mobile-navigation-border-color);
}

.walletLogoWrap {
  display: block;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 3);
}
