.network {
  border: var(--menu-border-size) solid var(--menu-border-color);
  border-right: none;
  border-top-left-radius: var(--menu-border-radius);
  border-bottom-left-radius: var(--menu-border-radius);
  padding: calc(var(--spacer) / 6) calc(var(--spacer) / 3);
  white-space: nowrap;
  margin-right: -3px;
  display: inline-flex;
  align-items: center;
}

.name {
  font-size: var(--font-size-small);
  color: var(--menu-font-color);
}

.badge {
  margin-left: calc(var(--spacer) / 8);
  background-color: var(--menu-border-color);
  color: var(--menu-network-badge-font-color);
  font-size: calc(var(--font-size-mini) * 0.8);
}

.warning {
  margin-right: calc(var(--spacer) / 14);
}
