.menuItem {
  composes: link from '../../Header/Menu.module.css';
}

.menuItem,
.menuItem:hover,
.menuItem:focus,
.menuItem:active {
  display: flex;
  align-items: center;
  padding-right: 0;
  text-transform: none;
  cursor: pointer;
}

.subItem {
  width: fit-content;
  text-transform: none !important;
}

.caret,
svg.caret {
  width: var(--font-size-small);
  height: var(--font-size-small);
  fill: var(--menu-caret-fill-color);
  margin-left: calc(var(--spacer) / 4);
  transition: transform 0.2s ease-out;
}

[aria-expanded='true'] .caret {
  transform: rotate(180deg);
}

[aria-expanded='true'] .menuItem,
[aria-expanded='true'] .caret,
[aria-expanded='true'] svg.caret {
  fill: var(--menu-caret-active-fill-color);
  color: var(--menu-caret-active-fill-color);
}

[aria-expanded='true'] .menuItem:after {
  transform: scaleX(1);
  background: var(--menu-font-color-hover);
}
