.inputLine {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.newDdoBtn {
  margin-bottom: calc(var(--spacer) / 1.5);
}

.ddoField {
  width: 100%;
  margin-bottom: -40px;
}

.deleteBtn {
  margin-bottom: 40px;
}
