.credentialTitle:hover,
.credentialTitle:focus {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}

.credentialTitle {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: large;
}
