.details {
  composes: details from '../Wallet/Details.module.css';
}

.details > section[class*='feedback'] {
  margin-top: var(--sub-section-spacing);
}

.networks,
.tokens {
  color: var(--font-color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tokens {
  margin-top: var(--sub-section-spacing);
  margin-bottom: calc(var(--spacer) / 3);
  padding-top: var(--sub-section-spacing);
  border-top: var(--menu-mobile-navigation-border-size) solid
    var(--menu-mobile-navigation-border-color);
}

.networks p,
.tokens p {
  margin: 0;
}

.networks button,
.networks button:hover,
.tokens button,
.tokens button:hover {
  display: block;
  font-size: var(--font-size-mini);
  margin-top: calc(var(--spacer) / 3);
  text-align: left;
}

.networks select,
.tokens select {
  margin-top: calc(var(--spacer) / 4);
  min-width: 6rem;
}
