.container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 1080px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  color: #303031;
}

.boxModel {
  border: 1px solid rgba(48, 48, 49, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 1080px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

.header {
  display: flex;
  padding: 10px 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  color: #303031;
}

.dataset {
  margin-bottom: 10px;
}

.datasetRow {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid rgba(48, 48, 49, 0.2);
  border-top: 1px solid rgba(48, 48, 49, 0.2);
  padding: 16px 0px 16px 0px;
  width: 1040px;
  margin-top: 1rem;
}

.datasetName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  color: #303031;
}

.servicesContainer {
  background-color: white;
}

.service {
  display: flex;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #303031;
}

.service:last-child {
  border-bottom: none;
}

.checkboxColumn {
  width: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.servicesColumn {
  width: 20%;
  padding-right: 15px;
}

.titleColumn {
  width: 15%;
}

.descriptionColumn {
  width: 25%;
  padding-right: 15px;
}

.typeColumn {
  width: 10%;
}

.durationColumn {
  width: 10%;
}

.priceColumn {
  width: 10%;
  text-align: right;
}
.symbol {
  color: #00adb2;
}

.checkboxInput {
  cursor: pointer;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #d1d1d1;
  position: relative;
}

.checkboxInput:checked {
  background-color: #fdd655;
  border-color: #fdd655;
}

.checkboxInput:checked::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.expandCollapseIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expandCollapseIcon svg {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
}

.expandedIcon svg {
  transform: rotate(180deg);
}
