.actions {
  margin: var(--spacer) 0;
  display: flex;
  gap: var(--spacer);
  justify-content: space-between;
}

.accordionWrapper {
  margin: calc(var(--spacer) * 2) 0 var(--spacer);
  padding-bottom: calc(var(--spacer) / 2);
  border-bottom: 1px solid var(--border-color);
}

.legend {
  display: block;
  width: 20px;
  height: 20px;
}
