.responseTextbox {
  width: 100%;
  padding: calc(var(--spacer) / 4);
  border-radius: var(--border-radius);
  background-color: var(--brand-grey-lighter);
  font-family: inherit;
  border: none;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
}

.responseTextbox:focus {
  outline: 1px solid var(--brand-grey-light);
}
