.container {
  display: flex;
  column-gap: calc(var(--spacer) / 4);
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.requestInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reason {
  word-wrap: break-word;
  overflow-y: scroll;
  max-height: 10rem;
  border: 1px solid var(--border-color);
  padding: 0 calc(var(--spacer) / 2);
  border-radius: var(--border-radius);
  text-align: justify;
  margin: calc(var(--spacer) / 2) 0;
}

.error {
  display: flex;
  flex-direction: row;
  column-gap: calc(var(--spacer) / 4);
  background-color: pink;
  border-radius: var(--border-radius);
  border: 1px solid var(--brand-alert-red);
  padding: calc(var(--spacer) / 4);
}

.error > svg {
  margin: 0;
}

.requestContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.actions {
  display: flex;
  column-gap: calc(var(--spacer) / 2);
  align-items: center;
  justify-content: flex-end;
}
