.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}

.suggestion {
  width: fit-content;
  margin: 0 auto;
}

.suggestion p {
  margin-bottom: 0;
  color: var(--brand-grey);
}

.suggestion div {
  border-color: var(--brand-grey);
}

.image {
  object-fit: contain;
  width: 100%;
  max-height: 25rem;
}

.footer {
  max-width: var(--break-point--small);
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 0;
}
