.container {
  composes: box from '@shared/atoms/Box.module.css';
  padding: 0;
  position: relative;
}

.grid {
  display: grid;
  gap: calc(var(--spacer) * 1.5);
  position: relative;
  margin-top: -1rem;
}

.grid > div {
  overflow: hidden;
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.headerForm {
  margin-bottom: var(--spacer);
}

.titleForm {
  font-size: var(--font-size-h4);
  margin-bottom: calc(var(--spacer) / 8);
  max-width: 50rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr; /* This ensures all rows have the same height */
  gap: 1rem;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}

.servicesHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form {
  margin: 20px;
}

.license {
  display: flex;
  align-items: center;
}

.licenseitem {
  flex-grow: 1;
  height: 40px;
  width: 100%;
}

.deleteLicenseButton {
  margin-left: auto;
}
