.consume {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
  width: auto;
  margin-bottom: calc(var(--spacer) / 2);
  margin-left: calc(var(--spacer) / 1.5);
  padding-bottom: calc(var(--spacer) / 2);
}

.fileWrapper {
  flex-shrink: 0;
}

.fileWrapper * {
  font-size: var(--font-size-mini);
  height: 5.5rem;
  width: 4.5rem;
}

.priceWrapper {
  display: flex;
  align-items: center;
}

.purchaseWrapper {
  text-align: center;
  width: calc(100% + (var(--spacer) * 2));
  padding: var(--spacer);
  padding-top: calc(var(--spacer) / 2);
  margin-right: calc(var(--spacer) * -1);
  margin-left: calc(var(--spacer) * -1);
  border-top: 1px solid var(--border-color);
}

.feedback {
  width: 100%;
  margin-top: calc(var(--spacer));
}
