.boxSelectionsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 calc(var(--spacer) / 4);
}

.boxSelectionsWrapper > div {
  width: 100%;
  position: relative;
}

.boxSelection {
  display: block;
  flex: 1 1 0px;
  padding: 15px 25px;
  border-radius: var(--publish-border-radius);
  border: 1.5px solid var(--publish-border);
  color: var(--color-secondary);
  cursor: pointer;
  box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  transition: all 0.2s ease-out;
  min-height: 90px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.title {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

:global(.publish) .title {
  font-weight: var(--publish-font-weight-normal);
}

.boxSelectionsWrapper input[type='radio'] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.boxSelectionsWrapper input[type='radio']:checked + label {
  color: var(--brand-white);
  border: none;
  background: #64ace0;
  background: linear-gradient(
    135deg,
    #1f2c50 0%,
    rgba(10, 75, 112, 0.8) 27.47%,
    rgba(10, 75, 112, 0.7) 43.49%,
    rgba(10, 75, 112, 0.8) 55.43%,
    #1e2e52 100%
  );
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.boxSelection svg {
  width: var(--font-size-h5);
  height: var(--font-size-h5);
  fill: var(--publish-accent);
  margin-bottom: calc(var(--spacer) / 5);
  transition: fill 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

.boxSelection svg path {
  fill: var(--publish-accent);
}

.boxSelectionsWrapper input[type='radio']:checked + label svg,
.boxSelectionsWrapper input[type='radio']:checked + .boxSelection svg {
  fill: var(--brand-white) !important;
  width: 30px;
  height: 30px;
}

.boxSelectionsWrapper input[type='radio']:checked + label svg path,
.boxSelectionsWrapper input[type='radio']:checked + .boxSelection svg path {
  fill: var(--brand-white) !important;
}

.boxSelectionsWrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--color-secondary);
  font-weight: normal;
}
/* Size variants */
.small .boxSelection {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.small .boxSelection svg {
  display: none;
}

.small label {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  flex-direction: row;
  padding: 8px 25px;
}

.small .title {
  margin: 0;
  line-height: 24px;
}

/* Small size variant */
.small .boxSelection,
.small .boxSelectionsWrapper label {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 8px 25px;
  font-size: var(--publish-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.small .boxSelection {
  border: 1px solid var(--publish-input-border-color);
}

.small .boxSelection svg {
  display: none;
}

.small .boxSelectionsWrapper label {
  flex-direction: row;
}

.small .title {
  margin: 0;
  line-height: 24px;
}
