.section {
  margin-top: calc(var(--spacer) * 2);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.section h3 span {
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
}

.section [class*='button'],
.allAssetsButton {
  margin-top: var(--spacer);
}
