.price {
  display: inline-block;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-base);
  font-weight: 700;
  color: var(--font-color-text);
  line-height: 1.2;
  font-size: 14px;
}

.price > div:first-child {
  white-space: nowrap;
}
.free {
  color: #00adb2; /* Green color for "Free" */
  font-weight: 700;
}

.symbol {
  font-size: 14px;
  font-weight: 700;
  color: #00adb2;
  /* font-weight: var(--font-weight-base);
  color: var(--color-secondary); */
  /* font-size: var(--font-size-base); */
}

.price.large {
  font-size: var(--font-size-large);
}

.price.small {
  display: inline-block;
  font-size: var(--font-size-base);
}

.price.small .symbol {
  font-size: var(--font-size-small);
}

.price.mini {
  display: inline-block;
  font-size: var(--font-size-small);
}

.priceNumber.mini {
  display: inline-block;
  font-size: var(--font-size-mini);
  font-weight: bolder;
}

.priceNumber.small {
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: bolder;
}

.price.mini .symbol {
  font-size: var(--font-size-mini);
}

.price .badge {
  vertical-align: middle;
  margin-left: calc(var(--spacer) / 6);
  background: var(--color-secondary);
}
