.txHash {
  display: inline-block;
  font-size: var(--font-size-small);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
}

a.txHash {
  color: var(--publish-primary);
}
