.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: baseline;
  margin-bottom: -0.1em;
  display: inline-block;
}

.accessLabel,
.typeLabel {
  display: inline-block;
  text-transform: uppercase;
  border-left: 1px solid var(--border-color);
  padding-left: calc(var(--spacer) / 3.5);
  margin-left: calc(var(--spacer) / 4);
}

.accessLabel {
  border-left: none;
  margin-left: 0;
}
