.search {
  --button-size: 38px;

  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 100%;
  padding: 5px 0;
  padding-bottom: calc(var(--spacer) / 2);
  position: relative;
}

.springContainer {
  width: 100%;
}

.button {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  padding: calc(var(--spacer) / 4);
  width: var(--button-size);
  color: var(--font-color-text);
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.input {
  margin: 0;
  outline: 0;
  padding-right: var(--spacer);
  padding-left: var(--button-size);
  height: var(--button-size);
  max-width: 100%;
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  background-color: var(--input-background);
  font-size: 16px; /* prevent zoom in on input focus on mobile devices */
  cursor: text;
  transition: 0.1s ease-out;
}

.input:focus {
  /* prevent the placeholder to move when increasing the border size*/
  padding-left: calc(var(--button-size) - 1px);

  border: var(--input-selected-border-size) solid
    var(--input-selected-border-color);
}

.searchIcon {
  fill: var(--input-placeholder-font-color);
  transition: 0.1s ease-out;
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.search:has(.input:focus) .searchIcon,
.button:hover .searchIcon,
.button:focus .searchIcon {
  fill: var(--input-font-color);
}

.searchBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  /* width: 240px;
  height: 92px; */
}

.searchContainer {
  width: 100%;
  height: 55px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(30, 30, 30, 0.8);
  padding: 0 20px;
  background: transparent;
  border-radius: 20px 0 0 20px;
  width: 565px;
  height: 50px;
}

.searchInput::placeholder {
  color: rgba(30, 30, 30, 0.5);
}

.searchButton {
  width: 80px;
  height: 100%;
  background: #fdd655;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  position: relative;
}

.searchButton:hover {
  background: #f3ce4a;
}

.searchIcon {
  width: 24px;
  height: 24px;
  fill: #072d3b;
  transition: transform 0.2s ease;
}

.searchButton:hover .searchIcon {
  transform: scale(1.1);
}
