.search {
  --button-size: 38px;

  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 100%;
  padding: 5px 0;
  padding-bottom: calc(var(--spacer) / 2);
  position: relative;
}

.springContainer {
  width: 100%;
}

.search input {
  padding-left: var(--button-size);
}

.button {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  padding: calc(var(--spacer) / 4);
  width: var(--button-size);
  color: var(--color-secondary);
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--font-color-text);
}

.input {
  font-size: 16px; /* prevent zoom in on input focus on mobile devices */
  background-color: transparent;
  height: var(--button-size);
  margin: 0;
  outline: 0;
  padding-right: var(--spacer);
  width: 0;
  transition: none;
  border: none;
  cursor: pointer;
}

.visibleInput {
  background-color: var(--input-background);
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  cursor: text;
  max-width: 100%;
}

.visibleInput:focus,
.visibleInput:hover {
  border-color: var(--input-border-color);
}

.visibleInput:focus + button svg,
.visibleInput:hover + button svg {
  fill: var(--input-font-color);
}

.input:focus {
  width: calc(100% - var(--spacer));
  background-color: var(--input-background);
  position: fixed;
  left: calc(var(--spacer) / 2);
  right: 0;
  z-index: 2;
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  cursor: text;
}

.searchIcon {
  fill: var(--input-placeholder-font-color);
  transition: 0.2s ease-out;
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.input:hover .searchIcon {
  fill: var(--input-font-color);
}
