.input {
  font-size: var(--publish-font-size);
  font-family: var(--publish-font-family);
  font-weight: var(--publish-font-weight-normal);
  color: var(--publish-text-secondary);
  border: var(--publish-input-border-size) solid
    var(--publish-input-border-color);
  box-shadow: var(--publish-shadow);
  width: 100%;
  background: var(--publish-white);
  padding: var(--publish-input-padding);
  margin: 0;
  border-radius: var(--publish-input-border-radius);
  transition: 0.2s ease-out;
  height: var(--publish-input-height);
  min-width: 0;
  appearance: none;
  display: block;
}

.input:focus {
  border-color: var(--publish-primary);
  box-shadow: 0 0 0 2px rgba(10, 75, 112, 0.2);
  outline: 0;
}

.input::placeholder {
  font-family: var(--publish-font-family);
  font-size: var(--publish-font-size);
  color: var(--publish-text-secondary);
  font-weight: var(--publish-font-weight-normal);
  transition: 0.2s ease-out;
  opacity: 0.7;
}

.input[readonly],
.input[disabled] {
  background-color: var(--background-highlight);
  color: var(--input-disabled-font-color);
  cursor: not-allowed;
  pointer-events: none;
}

.input[readonly]::-webkit-inner-spin-button,
.input[disabled]::-webkit-inner-spin-button,
.input[readonly]::-webkit-outer-spin-button,
.input[disabled]::-webkit-outer-spin-button {
  display: none;
}

.codemirror,
.textarea {
  composes: input;
  height: auto;
  min-height: 80px;
}

.select {
  composes: input;
  height: 43px;
  padding: 8px 48px 8px 25px;
  font-weight: var(--font-weight-bold);

  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%),
    linear-gradient(
      to right,
      var(--input-border-color) 1px,
      transparent 1px,
      transparent
    );
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
  background-repeat: no-repeat;
}

:global(.container.publish) :global([class*='FormInput_field']) select.select {
  padding: 15px 3rem 15px 25px;
  font-weight: var(--font-weight-bold);
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%),
    linear-gradient(
      to right,
      var(--input-border-color) 1px,
      transparent 1px,
      transparent
    );
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
  background-repeat: no-repeat;
}

.customSelect {
  composes: input;
  height: 43px;
  padding: 15px 3rem 15px 25px;
  font-weight: var(--font-weight-bold);
  color: var(--font-color-heading);
  border: 1px solid rgba(10, 75, 112, 0.5);
  border-radius: 20px;
  background: white;

  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%);
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  appearance: none;
}

.customSelect:focus {
  border-color: var(--font-color-text);
  outline: none;
  box-shadow: 0 0 0 2px rgba(10, 75, 112, 0.2);
}

:global(.container.publish)
  :global([class*='FormInput_field'])
  select.customSelect {
  padding: 15px 3rem 15px 25px;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%);
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.serviceLanguageSelect {
  composes: input;
  height: 43px;
  padding: 15px 48px 15px 25px;
  font-weight: var(--font-weight-bold);

  /* custom arrow */
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--font-color-text) 50%
    ),
    linear-gradient(135deg, var(--font-color-text) 50%, transparent 50%),
    linear-gradient(
      to right,
      var(--input-border-color) 1px,
      transparent 1px,
      transparent
    );
  background-position: calc(100% - 18px) calc(1rem + 5px),
    calc(100% - 13px) calc(1rem + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5rem 3rem;
  background-repeat: no-repeat;
}

.select:focus {
  outline: 0;
  font-family: var(--font-family-base);
}

body .publishSelect {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 10px;
  gap: 10px;
  min-width: 190px;
  width: fit-content;
  height: fit-content;
  background: var(--publish-background-neutral);
  border: 1px solid var(--publish-primary);
  border-radius: var(--publish-input-border-radius);
  font-family: var(--publish-font-family);
  font-style: normal;
  font-weight: var(--publish-font-weight-normal);
  font-size: var(--publish-font-size);
  line-height: var(--publish-line-height-base);
  color: var(--publish-primary);
  appearance: none;
  background-image: url('../../../../@images/chevron_down.svg') !important;
  background-position: calc(100% - 15px) center !important;
  background-size: 12px 12px !important;
  background-repeat: no-repeat !important;
  /* Remove styles inherited from .input */
  font-size: var(--publish-font-size);
  font-family: var(--publish-font-family);
  font-weight: var(--publish-font-weight-normal);
  color: var(--publish-primary);
  border: 1px solid var(--publish-primary);
  box-shadow: none;
  margin: 0;
  transition: 0.2s ease-out;
  height: auto;
  min-width: 0;
  display: block;
}

.algorithmLabel {
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 2fr 1fr;
}

.prefixGroup,
.postfixGroup {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.prefixGroup input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.postfixGroup input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.prefix,
.postfix {
  border: 1px solid var(--input-border-color);
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: calc(var(--spacer) / 4);
  padding-right: calc(var(--spacer) / 4);
  color: var(--font-color-text);
  font-size: var(--font-size-small);
  transition: border 0.2s ease-out;
  white-space: nowrap;
  position: relative;
}

.prefix {
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

.postfix {
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

.input:focus + .postfix {
  border-color: var(--input-border-color);
}

.input[type='range'] {
  background: transparent;
  appearance: none;
}

.input[type='range']:focus {
  outline: none;
}

/* Selectors need to be split up to work in both engines */
.input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -0.5rem;
  background: var(--brand-gradient);
  border: 2px solid var(--input-border-color);
  width: var(--font-size-h4);
  height: var(--font-size-h4);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
}

.input[type='range']::-moz-range-thumb {
  background: var(--brand-gradient);
  border: 2px solid var(--input-border-color);
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
}

.input[type='range']::-webkit-slider-runnable-track {
  margin-top: -1rem;
  background: var(--input-border-color);
  border-radius: var(--input-border-radius);
  height: 0.3rem;
  border: none;
}

.input[type='range']::-moz-range-track {
  background: var(--input-border-color);
  border-radius: var(--input-border-radius);
  height: 0.3rem;
  border: none;
}

/* Size modifiers */

.mini,
.select.mini {
  font-size: var(--font-size-mini);
  height: 24px;
  padding: calc(var(--spacer) / 8);
}

.mini::placeholder {
  font-size: var(--font-size-mini);
}

.prefix.mini,
.postfix.mini {
  height: 24px;
  font-size: var(--font-size-mini);
}

.select.mini {
  padding-right: 2rem;

  /* custom arrow */
  background-position: calc(100% - 14px) 0.6rem, calc(100% - 9px) 0.6rem, 100% 0;
  background-size: 5px 5px, 5px 5px, 1.75rem 3rem;
}

.small,
.select.small {
  font-size: var(--font-size-small);
  height: 34px;
  padding: calc(var(--spacer) / 4);
}

.small::placeholder {
  font-size: var(--font-size-small);
}

.prefix.small,
.postfix.small {
  height: 34px;
  font-size: var(--font-size-mini);
}

.select.small {
  padding-right: 2rem;

  /* custom arrow */
  background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
  background-size: 5px 5px, 5px 5px, 2rem 3rem;
}

.medium,
.select.medium {
  font-size: var(--font-size-medium);
  height: fit-content;
  padding: var(--publish-input-padding-compact);
}

.medium::placeholder {
  font-size: var(--font-size-medium);
}

.prefix.medium,
.postfix.medium {
  height: fit-content;
  font-size: var(--font-size-medium);
}

.select.medium {
  padding-right: 2rem;

  /* custom arrow */
  background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
  background-size: 5px 5px, 5px 5px, 2rem 3rem;
}

.large,
.select.large {
  font-size: var(--font-size-large);
  height: 62px;
  padding: calc(var(--spacer) / 1.5);
}

.large::placeholder {
  font-size: var(--font-size-large);
}

.prefix.large,
.postfix.large {
  height: 62px;
  font-size: var(--font-size-base);
}

.select.large {
  padding-right: 2rem;

  /* custom arrow */
  background-position: calc(100% - 14px) 1rem, calc(100% - 9px) 1rem, 100% 0;
  background-size: 5px 5px, 5px 5px, 2rem 3rem;
}

.publishPrefixGroup,
.publishPrefixGroup .prefixGroup,
.publishPrefixGroup .postfixGroup {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: var(--sp-2_5);
}

.publishPrefix,
.publishPostfix {
  border: 1px solid var(--publish-primary);
  background: transparent;
  color: var(--publish-primary);
  border-radius: var(--publish-border-radius);
  font-weight: var(--publish-font-weight-bold);
  font-size: var(--publish-font-size);
  padding: 4px 8px;
}

.publishPrefixGroup input {
  border-left: 1px solid var(--input-border-color);
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
  width: 60%;
}

.publishPrefixGroup.postfixGroup input {
  border-right: 1px solid var(--input-border-color);
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}
