.wrapper {
  position: relative;
  display: flex;
  align-items: center;

  --wrapper-height: 30rem;
  height: var(--wrapper-height);
}

.background {
  position: absolute;
  transform: skewY(-9deg);
  background-color: var(--color-primary);
  height: var(--wrapper-height);
  width: 100%;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--wrapper-height);
}

.content {
  padding: var(--spacer);
  max-width: var(--break-point--small);
}

.subtitle,
.title,
.paragraph {
  color: var(--brand-white);
}

.subtitle {
  display: inline-block;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 4) 0;
  background-color: var(--brand-violet);
  margin-bottom: 0;
}

@media screen and (min-width: 60rem) {
  .wrapper {
    /* Allocate 1/5 more space (height) on larger screens */
    --wrapper-height-lg: calc(var(--wrapper-height) * 1.2);
    height: var(--wrapper-height-lg);
  }

  .background {
    height: var(--wrapper-height-lg);
  }

  .content {
    padding: 0;
  }
}
