.requestContainer {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.requestContainer > p {
  margin: 0;
}

.requestList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 3);
  margin: 0;
}

.requestList > .requestItem {
  display: list-item;
  margin-left: var(--spacer);
  text-align: left;
}

.requestItem > * {
  display: inline;
  gap: 1em;
  margin: 0;
}

.interactive {
  column-gap: calc(var(--spacer));
  cursor: pointer;
  list-style-type: none;
}

.publisher {
  margin: 0;
}

.margined {
  margin-right: 1rem;
}
