.didInput {
  composes: input from '@shared/FormInput/InputElement/index.module.css';
}

.error {
  color: var(--brand-alert-red);
  margin-top: var(--spacer);
}

.sdContainer,
.errorContainer {
  margin-top: calc(var(--spacer) * 2);
}
