.tabListContainer {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-color);
  max-width: 100%;
}

.tabList {
  text-align: center;
  padding: calc(var(--spacer) / 2) 0 0 0;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-right: -1px;
  background: none;
  border: 0;
  border-radius: 20px 20px 0 0;
  min-height: 40px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.tabHidden {
  display: none !important;
}

.tab,
.tab label {
  cursor: pointer;
}

.tab:focus-visible {
  outline: none;
}

.tab[aria-selected='true'] {
  color: var(--publish-primary);
  list-style: none;
  border-bottom: 2px solid var(--publish-primary);
}

.tab[aria-disabled='true'] {
  cursor: not-allowed;
}

.tab > div {
  margin: 0;
}

.tabInner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tabIcon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.tabContent {
  padding: calc(var(--spacer) / 2) 0 0 0;
}

.tabPanel {
  color: var(--font-color-text);
  font-size: var(--font-size-base);
  font-family: var(--font-family-heading);
  line-height: 1.2;
  display: block;
  margin-bottom: 0;
}

.tabPanel label {
  font-size: var(--font-size-small) !important;
}

.tabLabel {
  display: block;
  margin-bottom: calc(var(--spacer) / 4);
}

@media (min-width: 60rem) {
  .tab {
    padding: calc(var(--spacer) / 8) var(--spacer);
  }
}

.radio {
  composes: radio from '../../FormInput/InputElement/Radio/index.module.css';
}
