.filterList {
  display: flex;
  gap: calc(var(--spacer) / 2) var(--spacer);
  flex-wrap: wrap;
}

.filterAccess,
.filterType {
  display: grid;
  gap: calc(var(--spacer) / 4);
}

.filterAccess {
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
}

.filterType {
  grid-template-columns: repeat(3, minmax(max-content, 1fr));
}

.filter {
  display: inline-block;
}

.filter,
button.filter,
.filter:hover,
.filter:active,
.filter:focus {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color-secondary);
  background: var(--background-content);
  min-width: 7rem;

  /* the only thing not possible to overwrite button style="text" with more specifity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 6) !important;
}

.filter:hover,
.filter:focus {
  color: var(--font-color-text);
  background: inherit;
  transform: none;
}

.filter.selected {
  color: var(--background-body);
  background: var(--font-color-text);
  border-color: var(--background-body);
}

.filter.selected::after {
  content: '✕';
  margin-left: calc(var(--spacer) / 6);
  color: var(--background-body);
}

.showClear:hover {
  display: inline-flex;
  color: var(--color-primary);
}
.showClear {
  display: inline-flex;
  text-transform: capitalize;
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
  margin-left: calc(var(--spacer) / 6);
}

.hideClear {
  display: none !important;
}
