.row {
  display: inline-flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  margin-bottom: var(--spacer);
}

@media (min-width: 60rem) {
  .row {
    flex-direction: row;
  }
}
