.selfDescriptionContainer {
  margin-top: calc(var(--spacer) * 2);
}

.selfDescriptionHeader,
.selfDescriptionErrorsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.actionButton {
  margin-top: calc(var(--spacer) / 2);
}

.error {
  color: var(--brand-alert-red);
}

form:first-child > div {
  margin-bottom: calc(var(--spacer) / 4);
}

@media screen and (min-width: 30rem) {
  .selfDescriptionHeader,
  .selfDescriptionErrorsHeader {
    flex-direction: row;
  }
}
