.details {
  max-width: calc(var(--spacer) * 10);
  padding: calc(var(--spacer) / 2);
}

.tokenActions {
  display: flex;
}

.toggleBtn {
  width: 100%;
  margin-bottom: calc(var(--spacer) / 2);
}

.walletAddress {
  display: block;
  font-size: var(--font-size-base);
  width: 100%;
  padding-bottom: calc(var(--spacer) / 4);
  border-bottom: 1px solid var(--border-color);
}

.walletAddress > strong {
  color: var(--brand-blue);
}

.walletAddress > button {
  margin-left: calc(var(--spacer) / 4);
}

.simple,
.fundingBtn,
.withdrawBtn,
.deleteBtn {
  margin: calc(var(--spacer) / 4) 0;
  width: 100%;
  text-align: center;
}

.simple > * {
  width: 100%;
}

.simple .error,
.simple .success {
  display: block;
  font-size: var(--font-size-base);
  padding: calc(var(--spacer) / 4) 0;
}

.simple .error {
  color: var(--brand-alert-red);
}

.simple .success {
  color: var(--brand-alert-green);
}
