.wrapper > div[class*='FormInput'] {
  margin: 0;
}

.button {
  width: 100%;
  background-color: var(--button-primary-background);
  color: var(--button-primary-font-color);
}

.button:hover {
  background-color: var(--button-primary-hover-background);
}

.cancel {
  margin-top: calc(var(--spacer) / 4);
}
