.loaderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: block;
  flex: 0 0 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: var(--border-size) solid var(--brand-purple);
  border-top-color: var(--brand-violet);
  animation: loader 0.6s linear infinite;
}

.message {
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-small);
  color: var(--color-secondary);
  display: block;
  margin-left: calc(var(--spacer) / 4);
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

.placeholder {
  margin: 0 0;
  background-color: var(--brand-grey-dimmed);
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animatedBackground {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(
    to right,
    var(--brand-grey-dimmed) 10%,
    var(--brand-grey-lighter) 18%,
    var(--brand-grey-dimmed) 33%
  );
  position: relative;
}
