.menuItem {
  composes: link from '../molecules/Menu.module.css';
  display: flex;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
}

.caret,
svg.caret {
  width: var(--font-size-small);
  height: var(--font-size-small);
  fill: var(--color-primary);
  margin-left: calc(var(--spacer) / 4);
  transition: transform 0.2s ease-out;
}

[aria-expanded='true'] svg {
  transform: rotate(180deg);
}
