.network {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  fill: var(--color-primary);
  margin-right: calc(var(--spacer) / 8);
}

.minimal {
  position: relative;
}

.minimal .name,
.name {
  opacity: 0;
  width: 0;
}

.minimal:hover .name {
  width: auto;
  opacity: 1;
}

@media screen and (min-width: 35rem) {
  .name,
  .name:hover {
    width: auto;
    opacity: 1;
  }
}
