.loader,
.verifiedBadge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--spacer) / 3);
  height: calc(var(--spacer) * 1.5);
}

.verifiedBadge {
  border-radius: var(--border-radius);

  background: var(--color-primary);
  color: var(--brand-white);

  font-weight: var(--font-weight-bold);
}

.verifiedBadge svg {
  display: inline-block;
  height: 100%;
}

.verifiedBadge svg path {
  fill: var(--brand-white) !important;
}

.loader span,
.verifiedBadge span {
  padding: 0 calc(var(--spacer) / 4);
}
