.loader,
.verifyButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--spacer) / 3);
  height: calc(var(--spacer) * 1.5);
}

.loader span {
  padding: 0 calc(var(--spacer) / 4);
}
