.imagePreview {
  cursor: zoom-in;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: zoom-out;
  z-index: 4;
}

.modal img {
  max-height: 90%;
  object-fit: contain;
}

#close {
  display: block;
  align-self: flex-end;
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  height: 10%;
  border-radius: 50%;
  background: transparent;
  color: var(--brand-grey);
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}

#close:before,
#close:after {
  --close-width: 0.125rem;

  position: absolute;
  top: 15%;
  left: calc(50% - (var(--close-width) / 2));
  width: var(--close-width);
  height: 70%;
  border-radius: var(--close-width);
  transform: rotate(45deg);
  background: currentcolor;
  content: '';
}
#close:after {
  transform: rotate(-45deg);
}
