.header {
  margin-bottom: var(--spacer);
  max-width: 50rem;
}

.isHome {
  padding: 0 var(--spacer);
  padding-top: calc(var(--spacer) * 2);
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description,
.poweredByContainer p {
  font-size: var(--font-size-large);
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}

.poweredByContainer p {
  margin-top: calc(var(--spacer) / 2);
}

.center,
.search {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--spacer) / 2);
  max-width: 30rem;
}

.poweredByContainer a {
  display: inline-block;
  margin: calc(var(--spacer) / 2) auto var(--spacer) auto;
}

.poweredByContainer svg {
  width: 4rem;
  height: 4rem;
}
