.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 20rem;
  margin-bottom: var(--spacer);
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--spacer);
}

.title {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40rem) {
  .title {
    font-size: var(--font-size-h2);
  }
}

.description {
  margin-top: calc(var(--spacer) / 4);
  margin-bottom: 0;
}

.title,
.description {
  color: var(--brand-white);
}
