.search {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin: 0 0 var(--spacer) 0;
  width: 100%;
  position: relative;
}

.visibleInputSearch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin: 0 0 var(--spacer) 0;
  width: 100%;
  position: relative;
}

.visibleInputSearchHome {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin: 0 0 var(--spacer) 0;
  width: 100%;
  max-width: 500px;
  position: relative;
}

.visibleInputSearch input,
.visibleInputSearchHome input,
.search input {
  padding-left: 40px;
}

.button {
  color: var(--color-secondary);
  cursor: pointer;
  background: var(--background-content);
  border: none;
  box-shadow: none;
  padding: 0;
  position: absolute;
  padding: calc(var(--spacer) / 4);
  width: 100%;
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  z-index: -1;
}
.visibleInputButton {
  color: var(--color-secondary);
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
  right: 1px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  box-shadow: none;
  padding: 0;
  padding: calc(var(--spacer) / 4);
  width: 40px;
}

.button:hover,
.button:focus {
  color: var(--font-color-text);
}

.input {
  background-color: transparent;
  height: 38px;
  margin: 0;
  outline: 0;
  padding-right: var(--spacer);
  width: 0;
  transition: none;
  border: none;
  cursor: pointer;
}

.visibleInput {
  background-color: var(--background-content);
  border: var(--border-size) solid var(--brand-grey-light);
  border-radius: 0 var(--border-radius-menu) var(--border-radius-menu) 0;
  cursor: text;
  max-width: 100%;
}

.visibleInput:focus,
.visibleInput:hover {
  border-color: var(--border-color-menu);
}

.visibleInput:focus + button svg,
.visibleInput:hover + button svg {
  fill: var(--border-color-menu);
}

.input:focus {
  width: calc(100% - var(--spacer));
  background-color: var(--background-content);
  position: fixed;
  left: calc(var(--spacer) / 2);
  right: 0;
  z-index: 2;
  border: var(--border-size) solid var(--border-color-menu);
  border-radius: var(--border-radius-menu);
  cursor: text;
}

.searchIcon {
  fill: var(--color-primary);
  transition: 0.2s ease-out;
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.visibleInputSearchIcon {
  fill: var(--brand-grey-light);
  transition: 0.2s ease-out;
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.input:hover .searchIcon {
  fill: var(--color-menu-active);
}
