/* Footer specific styles */
.footer {
  background-color: #091521;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  color: white;
  font-weight: 600;
}

.link {
  color: white;
  font-weight: 500;
  transition: color 0.2s;
}

.link:hover {
  color: #cbd5e0;
}

.subtitle {
  color: white;
  opacity: 0.8;
}

.beta {
  background-color: #2563eb;
  color: white;
}
