.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--spacer) * 2);
  width: 100%;
}

.section {
  text-align: center;
}

.title {
  margin-bottom: calc(var(--spacer) / 2);
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(var(--spacer) / 4);
  text-transform: capitalize;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
  padding-right: 20px;
}

.link:hover {
  color: #fdd655;
  text-decoration: underline;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-small);
}

@media screen and (min-width: 55rem) {
  .container {
    justify-content: flex-start;
    width: auto;
  }
  .section {
    text-align: left;
  }
}
