.panelRow {
  display: flex;
  flex-direction: row;
}

.panelColumn {
  display: flex;
  flex-direction: column;
}

.panelGrid {
  display: grid;
}

.panelTemplateList {
  grid-template-columns: max-content auto;
}

.panelTemplateData {
  grid-template-columns: minmax(max-content, 30%) auto;
  gap: 0.2em;
}

.dialogWidth {
  width: 60%;
}

@media (max-width: 1900px) {
  .dialogWidth {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .dialogWidth {
    width: 100%;
  }
}

.widthAuto {
  width: auto;
}

.widthFitContent {
  width: fit-content;
}

.marginRight2 {
  margin-right: 2em;
}

.marginRight3 {
  margin-right: 3em;
}

.marginBottom7px {
  margin-bottom: 7.5px;
}

.marginBottom2 {
  margin-bottom: 2em;
}

.marginBottom3 {
  margin-bottom: 3em;
}

.padding1 {
  padding: 1em;
}

.width100p {
  width: 100%;
}

.dialogBorder {
  border: 1px solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: 0;
  padding: 2em;
}

.acceptButton {
  padding: calc(var(--spacer) / 3) var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  border-radius: var(--button-border-radius);
}

.abortButton {
  padding: calc(var(--spacer) / 3) var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  border-radius: var(--button-border-radius);
}

.inputField {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  color: var(--input-font-color);
  border: var(--input-border-size) solid var(--input-border-color);
  box-shadow: none;
  width: 2em;
  background: var(--background-content);
  padding: calc(var(--spacer) / 3);
  border-radius: var(--input-border-radius);
  height: 1.5em;
}

.tableCell {
  padding: 0px;
}

.alignItemsCenter {
  align-items: center;
}

.justifyItemsStrech {
  justify-items: stretch;
}

.justifyContentFlexEnd {
  justify-content: flex-end;
}

.flexWrap {
  flex-wrap: wrap;
}
