.filterList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.filtersHeader {
  display: flex;
  justify-content: space-between;
}

.filterType * {
  margin: 0;
}

.filterTypeLabel {
  margin-bottom: calc(var(--spacer) / 4);
}

.filterType > div:not(:last-child) {
  margin-bottom: calc(var(--spacer) / 8);
}

.hideClear {
  display: none;
}
