.container {
  display: flex;
  gap: var(--spacer);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  width: 13rem;
  border-right: 1px solid var(--border-color);
  padding-right: var(--spacer);
}

.results {
  width: 100%;
}
