.sidePositioning {
  composes: sidePositioning from './Filter.module.css';
}

.topPositioning {
  composes: topPositioning from './Filter.module.css';
}

.sortList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.sortList div *,
.compactOptionsContainer > * {
  margin: 0;
}

.sortList div h5 {
  margin: calc(var(--spacer) / 4) 0;
}

.sortList > div > div:not(:last-child) {
  margin-bottom: calc(var(--spacer) / 8);
}

.compactFilterContainer {
  composes: compactFilterContainer from './Filter.module.css';
}

.compactOptionsContainer > div {
  margin-top: calc(var(--spacer) / 4) 0;
}
