.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--sp-2);
}

.infoBox {
  display: flex;
  flex-direction: column;

  font-size: var(--publish-font-size);
  line-height: var(--publish-line-height-xl);

  border: 0 transparent;
  border-left: 5px solid #fdd655;
  border-radius: 0;
  padding: 10px 17px;
  background: var(--background-detail-box);
  width: fit-content;
}

.header {
  font-size: var(--publish-font-size-base);
  color: inherit;
  margin-bottom: var(--publish-spacing-sm);
}

.header strong {
  font-weight: var(--publish-font-weight-bold);
}

.warningIcon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

@media screen and (max-width: 640px) {
  .infoBox {
    padding: var(--publish-spacing-md);
    margin-bottom: var(--publish-spacing-md);
  }
}
