.policyAutocomplete {
  margin-bottom: calc(var(--spacer) / 1.5);
}

.deleteButton {
  height: 43px;
  max-width: max-content;
}

.editorPanel {
  display: flex;
  flex-direction: column;
  background: var(--box-template-background);
  border-radius: var(--box-template-border-radius);
  border: var(--box-template-border-size) solid var(--box-template-border-color);
  box-shadow: var(--box-template-box-shadow);
  padding-left: calc(var(--spacer) / 1.5);
  padding-right: calc(var(--spacer) / 1.5);
  padding-top: calc(var(--spacer) / 1.5);
  padding-bottom: 0;
}

.paddingLeft3em {
  padding-left: 3em;
}

.item:nth-child(2n + 1) {
  background-color: var(--background-highlight);
}

.editorLabel {
  color: var(--font-color-text);
  font-size: var(--font-size-base);
  font-family: var(--font-family-heading);
  line-height: 1.2;
}

.panelColumn {
  display: flex;
  flex-direction: column;
}

.panelRow {
  display: flex;
  flex-wrap: wrap;
}

.alignItemsBaseline {
  align-items: baseline;
}

.alignItemsEnd {
  align-items: end;
}

.alignItemsEnd {
  align-items: center;
}

.marginBottomZero {
  margin-bottom: 0 !important;
}

.marginBottom4em {
  margin-bottom: 4em;
}

.marginTopMinus2em {
  margin-top: -2em;
}

.marginTopMinus3em {
  margin-top: -3em;
}

.marginTop1em {
  margin-top: 1em;
}

.marginTop2em {
  margin-top: 2em;
}

.marginBottom1em {
  margin-bottom: 1em;
}

.marginBottom2em {
  margin-bottom: 2em;
}

.marginLeftAuto {
  margin-left: auto;
}

.marginRight0 {
  margin-right: 0;
}

.space {
  margin-left: 0.5em;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentSpaceEvenly {
  justify-content: space-evenly;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.alignItemsBaseline {
  align-items: baseline;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.widthAuto {
  width: auto;
}

.paddingLeft1em {
  padding-left: 1em;
}

.paddingTop1em {
  padding-top: 1em;
}

.paddingBottom1em {
  padding-bottom: 1em;
}

.paddingRight1em {
  padding-right: 1em;
}

.marginBottomButton {
  margin-bottom: calc(var(--spacer) / 1.3);
}

.flexGrow {
  flex-grow: 1;
}
