.network {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  cursor: default;
}

.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
  margin-right: calc(var(--spacer) / 8);
}

.minimal {
  position: relative;
}

.minimal .name {
  opacity: 0;
  width: 0;
}

.minimal:hover .name {
  width: auto;
  opacity: 1;
}

@media screen and (min-width: 42rem) {
  .minimal .name,
  .minimal:hover .name {
    width: auto;
    opacity: 1;
  }
}
