@import url('./_colors.css');

:root {
  --ocean-primary: var(--ocean-pink);
  --ocean-secondary: var(--ocean-grey-light);

  --color-primary: var(--brand-blue);
  --color-secondary: var(--brand-grey-lighter);
  --color-highlight: var(--brand-cyan);

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: var(--brand-grey);
  --font-color-heading: var(--brand-black);
  --font-color-light: var(--color-secondary);
  --background-body: #fcfcfc;
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-content: #fff;
  --background-highlight: #f7f7f7;
  --border-color: var(--color-secondary);
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --checkbox-selected-background: var(--color-primary);

  /* Menubar */
  --menu-logo-color: var(--color-primary);
  --menu-logo-color-hover: var(--color-primary);
  --menu-logo-size-sm: 5rem;
  --menu-logo-size-lg: 7.5rem;
  --menu-font-color: var(--color-primary);
  --menu-font-color-active: var(--brand-blue-light);
  --menu-active-indicator-color: var(--brand-blue);
  --menu-mobile-navigation-border-size: var(--border-size-sm);
  --menu-mobile-navigation-border-color: var(--brand-grey-lighter);
  --menu-border-color: var(--color-primary);
  --menu-border-radius: var(--border-radius-sm);
  --menu-border-size: var(--border-size);
  --menu-icon-fill-color: var(--color-primary);
  --menu-icon-fill-color-hover: var(--color-primary);
  --menu-title-font-size: var(--font-size-h4);
  --menu-link-font-size: var(--font-size-base);
  --menu-link-font-weight: var(--font-weight-bold);
  --menu-link-font-weight-active: var(--font-weight-bold);
  --menu-caret-size: var(--font-size-small);
  --menu-caret-fill-color: var(--color-primary);

  --font-family-base: 'Sharp Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Sharp Sans Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-monospace: 'Fira Code', 'Fira Mono', Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --border-radius-sm: 2px;
  --border-radius: 0.2rem;
  --border-size-sm: 1px;
  --border-size: 2px;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 860px;
  --break-point--large: 1140px;
  --break-point--huge: 1400px;
}

.dark {
  --font-color-text: #e2e2e2;
  --font-color-heading: #f7f7f7;
  --background-body: rgb(10, 10, 10);
  --background-body-transparent: rgba(10, 10, 10, 0.9);
  --background-content: #141414;
  --background-highlight: #201f1f;
  --border-color: #303030;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
