.wrapper {
  margin-top: calc(var(--spacer) * 5);
  position: relative;
}

.compute {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
  .tutorial {
    width: 75%;
  }

  .wrapper {
    display: flex;
  }
}
