.container {
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.verifiedBadge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: var(--font-weight-bold) !important;
  color: var(--brand-alert-red);
}

.mainLabel {
  display: flex;
  align-items: center;
  gap: calc(var(--spacer) / 4);
  font-weight: var(--font-weight-bold);
  color: var(--brand-alert-red);
}

.mainLabel svg,
.verifiedBadge svg path {
  margin: auto 0;
  fill: var(--brand-alert-red);
}

.details {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.apiVersion,
.lastVerified {
  font-weight: var(--font-weight-base);
  color: var(--color-secondary);
}

.isValid {
  color: var(--color-primary);
}

.isValid svg path {
  fill: var(--color-primary);
}
