.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  background-color: var(--brand-grey-darker);
  color: var(--brand-white);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--box-template-box-shadow);
  position: relative;
}

.content {
  padding: var(--spacer);
}

.subtitle {
  display: inline-block;
  padding: 0.25em 0.75em;
  background-color: var(--brand-white);
  color: var(--color-primary);
  font-size: var(--font-size-h4);
  font-weight: 600;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.title {
  color: var(--brand-white);
  font-size: var(--font-size-h2);
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.01em;
}

.paragraph p {
  margin-bottom: 0;
  color: var(--brand-white);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.container > svg {
  display: none;
}

.hideButtonContainer {
  position: absolute;
  display: flex;
  background-color: var(--background-content);
  right: 0;
  top: 0;
  aspect-ratio: 1 / 1;
  padding: calc(var(--spacer) / 3);
  border-bottom-left-radius: var(--border-radius);
}

@media screen and (min-width: 40rem) {
  .container > svg {
    width: 8rem;
    display: inline;
  }
  .container svg path {
    fill: var(--brand-white);
  }
}
