.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cardContainer {
  composes: box from '../atoms/Box.module.css';
  width: 100%;
}

.wrapper {
  margin-bottom: calc(var(--spacer) * 2);
}
