.container {
  position: relative;
  height: 55rem;
  overflow: hidden;
}

.step {
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 60rem) {
  .container {
    height: 45rem;
  }
}
