.credential_margin_bottom {
  margin-bottom: calc(var(--spacer) * var(--line-height));
}
.credential_input {
  width: 70%;
}

.credential_input_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  max-height: 70px;
}
